@model LoginDTO

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4 style="text-align:center;">Kullanıcı Giriş Paneli</h4>
        <br />
        <form asp-action="Login" asp-controller="User" method="post">
            <div class="form-group">
                <label>Mail Adress</label>
                <input type="email" class="form-control" asp-for="Mail" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-bottom:15px;">
                <label>Password</label>
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @try
            {
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
                {
                    <div class="alert alert-danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage</div>
                }
            }
            catch (Exception)
            {
                <div class="alert alert-danger">Lütfen gerekli yerleri giriniz!</div>
            }
            <button type="submit" class="btn btn-success">Giriş Yap</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>